!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}/
    %title URL Shortener
    %meta{:name => "description", :content => "A url shortening service for soshifed.com"}/
    %link{:charset => "utf-8", :href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/js/head.load.min.js", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      head.js("https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", "/js/sammy.min.js", "/js/app.js");
  %body
    #loading
      %div
        %img{:src => "/images/loading.gif", :alt => "Loading"}
        Loading...
    #container
      .shrink
        %form#shrinkform.shrinkform{:action => "/bookmark", :method => "get"}
          %input{:name => "key", :type => "hidden", :value => "d41d8cd98f00b204e9800998ecf8427e"}/
          %input#url.text{:name => "url", :type => "text"}/
          %a#shrink.action Shorten
        #shrinkresult
      .shrinkcont
        #recentshrinks
          = will_paginate(@links)
          %table.shrinks
            %tbody
              %tr
                %td
                  %span.alt Clicks
                %td
                  %span.alt Long Url
                %td
                  %span.alt Short Url
              -@links.each do |link|
                %tr
                  %td.count
                    %a{:href => "#"}
                      =link.times_viewed
                  %td{:width => "55%"}
                    %a{:href => link.full_url, :target => "_blank"}
                      =link.full_url
                  %td
                    %a{:href => link.short_url}
                      =link.short_url
          = will_paginate(@links)
      .spacer &nbsp;
      %hr/
