table {  margin-bottom: 1.4em }

th {
  border-bottom: 2px solid #ccc;
  font-weight: 700;
}

td {  border-bottom: 1px solid #ddd }

th, td {  padding: 4px 10px 4px 0 }

tfoot {  font-style: italic }

caption {  background: #ffc }

.top {
  margin-top: 0;
  padding-top: 0;
}

.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

label {  font-weight: 700 }

fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.5em 0;
  padding: 1.4em;
}

legend {
  font-size: 1.2em;
  font-weight: 700;
}

input.text, input.title {
  margin: .5em .5em .5em 0;
  padding: 5px;
  width: 300px;
}

input.text:focus, input.title:focus {
  background: #fff;
  border: 1px solid #999;
}

input.text, input.title {
  background: #f6f6f6;
  border: 1px solid #bbb;
}

.formRow {
  clear: both;
  font-size: 1em;
  padding: 5px;
  width: 100%;
}

.formLabel {
  clear: both;
  float: left;
  padding-bottom: 1em;
  text-align: left;
  text-indent: 5px;
  width: 120px;
}

label {  font-size: 1.0em }

span.alt {
  color: #858585;
  font-family: Georgia;
}

hr {
  background: #ddd;
  border: none;
  clear: both;
  color: #ddd;
  float: none;
  height: .1em;
  margin: 0 0 1.4em;
  width: 100%;
}

body {
  background-color: #eeeded;
  border: 0;
  color: #333;
  height: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}

a {
  color: #a10e0e;
  cursor: pointer;
}

table.shrinks {
  margin-top: 10px;
  width: 100%;
}

table.shrinks td.count {  text-align: center }

table.shrinks span {
  font-size: 1.2em;
  font-weight: 700;
}

table.shrinks img {  vertical-align: middle }

table.shrinks a {  font-size: 1.2em }

div.shrink {
  margin: 0 auto;
  margin-top: 80px;
  width: 600px;
}

div.shrinkform {
  margin-top: 5px;
  text-align: center;
}

div.shrinkform .action {
  font-size: 1.5em !important;
  vertical-align: middle;
}

div.shrinkform .text {
  font-size: 1.4em;
  margin: 2px;
  vertical-align: middle;
  width: 280px;
}

#shrinkresult {
  background: #FFF6BF;
  border: 2px solid #ddd;
  border-color: #FFD324;
  color: #817134;
  display: none;
  margin-bottom: 1em;
  margin-top: 5px;
  padding: .8em;
  text-align: center;
  width: 340px;
}

#shrinkresult a {  font-size: 1.8em }

div.shrinkcont {
  margin: 0 auto;
  margin-top: 25px;
  min-width: 800px;
  text-align: center;
  width: 80%;
}

div.stage {
  margin: 0 auto;
  margin-top: 8px;
  width: 800px;
}

div.single_stage {
  margin: 0 auto;
  margin-top: 80px;
  width: 640px;
}

div.copyright {
  margin-top: 15px;
  text-align: center;
}

img.yourlogin {  margin-left: 60px }

input.secondary {  color: #828282 }

img.showcase {
  border: 1px solid #cfcfcf;
  margin: 2px;
  padding: 2px;
}

.booth, .action {
  background-color: #c03a38;
  border: 1px solid #90090b;
  color: #fff !important;
  padding: 8px;
  text-align: center;
}

.booth a, .action a {  color: #fff !important }

a.booth, a.action {
  padding-bottom: 5px;
  padding-top: 5px;
}

a.action:hover {  background-color: #dd2f2b }

a.action {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.0em !important;
  text-decoration: none;
}