table {  margin-bottom: 1.4em }

td {
  border-bottom: 1px solid #ddd;
  padding: 4px 10px 4px 0;
}

input.text {
  margin: .5em .5em .5em 0;
  padding: 5px;
  width: 300px;
}

input.text:focus {
  background: #fff;
  border: 1px solid #999;
}

input.text {
  background: #f6f6f6;
  border: 1px solid #bbb;
}

span.alt {
  color: #858585;
  font-family: Georgia;
}

* {
  margin: 0; padding: 0;
  border: 0
}

hr {
  background: #ddd;
  border: none;
  clear: both;
  color: #ddd;
  float: none;
  height: .1em;
  margin: 0 0 1.4em;
  width: 100%;
}

body {
  background-color: #eeeded;
  border: 0;
  color: #333;
  height: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}

a {
  color: #a10e0e;
  cursor: pointer;
}

table.shrinks {
  margin-top: 10px;
  width: 100%;
}

table.shrinks td.count {  text-align: center }

table.shrinks span {
  font-size: 1.2em;
  font-weight: 700;
}

table.shrinks a {  font-size: 1.2em }

div.shrink {
  margin: 0 auto;
  padding-top: 80px;
  width: 600px;
}

#shrinkresult {
  background: #FFF6BF;
  border: 2px solid #ddd;
  border-color: #FFD324;
  color: #817134;
  display: none;
  margin-bottom: 1em;
  margin-top: 5px;
  padding: .8em;
  text-align: center;
  width: 340px;
}

#shrinkresult a {  font-size: 1.8em }

div.shrinkcont {
  margin: 0 auto;
  margin-top: 25px;
  min-width: 800px;
  text-align: center;
  width: 80%;
}

.action {
  background-color: #c03a38;
  border: 1px solid #90090b;
  color: #fff !important;
  padding: 8px;
  text-align: center;
}
a.action {
  padding-bottom: 5px;
  padding-top: 5px;
}

a.action:hover {  background-color: #dd2f2b }

a.action {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.0em !important;
  text-decoration: none;
}

#loading {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

#loading div {
  padding-top:75px;
  color: #fff;
  font-size: 34px;
  text-align: center
}

.pagination {
  height: 40px;
  margin-top: 10px
}

.pagination li {
  float: left;
  font-size: 11px;
  list-style: none
}

.pagination .gap {  padding: 0px 3px }

.pagination li a,
.pagination li p {
  margin-right: 2px;
  border: solid 1px #DDDDDD
}

.pagination li a:hover {  border: solid 1px #666666 }

.pagination li a:link,
.pagination li a:visited {
  display: block; float: left;
  padding: 3px 6px;
  color: #A10E0E;
  text-decoration: none
}

.pagination .next_page a,
.pagination .previous_page a {
  display: block; float: left;
  color: #A10E0E;
  font-weight: bold
}

.pagination .next_page.disabled p,
.pagination .previous_page.disabled p {
  display: block; float: left;
  padding: 3px 6px;
  color:#DDD;
  font-size: 12px; font-weight: normal;
  cursor: default
}

.pagination .current p {
  display: block; float: left;
  padding: 2px 6px;
  background-color: #DDD;
  font-size: 14px; font-weight: bold;
  cursor: default
}